---

# Copyright 2024 Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: ServiceAccount
metadata:
  name: weave-net
  namespace: kube-system
  labels:
    app.kubernetes.io/name: weave-net
    app.kubernetes.io/part-of: kube-system
    addonmanager.kubernetes.io/mode: Reconcile

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: weave-net
  labels:
    app.kubernetes.io/name: weave-net
    app.kubernetes.io/part-of: kube-system
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups:
      - ''
    resources:
      - pods
      - namespaces
      - nodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - networkpolicies
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ''
    resources:
      - nodes/status
    verbs:
      - patch
      - update

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: weave-net
  labels:
    app.kubernetes.io/name: weave-net
    app.kubernetes.io/part-of: kube-system
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: weave-net
    namespace: kube-system
roleRef:
  kind: ClusterRole
  name: weave-net
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: weave-net
  namespace: kube-system
  labels:
    app.kubernetes.io/name: weave-net
    app.kubernetes.io/part-of: kube-system
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups:
      - ''
    resourceNames:
      - weave-net
    resources:
      - configmaps
    verbs:
      - get
      - update
  - apiGroups:
      - ''
    resources:
      - configmaps
    verbs:
      - create

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: weave-net
  namespace: kube-system
  labels:
    app.kubernetes.io/name: weave-net
    app.kubernetes.io/part-of: kube-system
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: weave-net
    namespace: kube-system
roleRef:
  kind: Role
  name: weave-net
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: weave-net
  namespace: kube-system
  labels:
    app.kubernetes.io/name: weave-net
    app.kubernetes.io/part-of: kube-system
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  minReadySeconds: 5
  selector:
    matchLabels:
      app.kubernetes.io/name: weave-net
      app.kubernetes.io/part-of: kube-system
      addonmanager.kubernetes.io/mode: Reconcile
  template:
    metadata:
      labels:
        app.kubernetes.io/name: weave-net
        app.kubernetes.io/part-of: kube-system
        addonmanager.kubernetes.io/mode: Reconcile
    spec:
      containers:
        - name: weave
          command:
            - /home/weave/launch.sh
          env:
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: INIT_CONTAINER
              value: 'true'
            - name: CHECKPOINT_DISABLE
              value: "{{ kube_weave_checkpoint_disable | bool | int }}"
            - name: CONN_LIMIT
              value: "{{ kube_weave_conn_limit | int }}"
            - name: HAIRPIN_MODE
              value: "{{ kube_weave_hairpin_mode | bool | lower }}"
            - name: IPALLOC_RANGE
              value: "{{ kube_weave_pod_subnet }}"
            - name: EXPECT_NPC
              value: "{{ kube_weave_expect_npc | bool | int }}"
            - name: WEAVE_MTU
              value: "{{ kube_weave_mtu | int }}"
            - name: NO_MASQ_LOCAL
              value: "{{ kube_weave_no_masq_local | bool | int }}"
{% if kube_weave_password -%}
            - name: WEAVE_PASSWORD
              value: "{{ kube_weave_password }}"
{%- endif %}
{% if kube_weave_kube_peers -%}
            - name: KUBE_PEERS
              value: "{{ kube_weave_kube_peers }}"
{%- endif %}
{% if kube_weave_ipalloc_init -%}
            - name: IPALLOC_INIT
              value: "{{ kube_weave_ipalloc_init }}"
{%- endif %}
{% if kube_weave_expose_ip -%}
            - name: WEAVE_EXPOSE_IP
              value: "{{ kube_weave_expose_ip }}"
{%- endif %}
{% if kube_weave_metrics_addr -%}
            - name: WEAVE_METRICS_ADDR
              value: "{{ kube_weave_metrics_addr }}"
{%- endif %}
{% if kube_weave_status_addr -%}
            - name: WEAVE_STATUS_ADDR
              value: "{{ kube_weave_status_addr }}"
{%- endif %}
{% if kube_weave_extra_args -%}
            - name: EXTRA_ARGS
              value: "{{ kube_weave_extra_args }}"
{%- endif %}
          image: docker.io/alvistack/weave-kube:2.8.1-202204146b4cadfc
          imagePullPolicy: IfNotPresent
          readinessProbe:
            httpGet:
              host: 127.0.0.1
              path: /status
              port: 6784
          resources:
            requests:
              cpu: 50m
              memory: 100Mi
          securityContext:
            privileged: true
          volumeMounts:
            - name: weavedb
              mountPath: /weavedb
            - name: dbus
              mountPath: /host/var/lib/dbus
            - name: machine-id
              mountPath: /host/etc/machine-id
              readOnly: true
            - name: xtables-lock
              mountPath: /run/xtables.lock
        - name: weave-npc
          env:
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
          image: docker.io/alvistack/weave-npc:2.8.1-202204146b4cadfc
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 50m
              memory: 100Mi
          securityContext:
            privileged: true
          volumeMounts:
            - name: xtables-lock
              mountPath: /run/xtables.lock
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      initContainers:
        - name: weave-init
          command:
            - /home/weave/init.sh
          image: docker.io/alvistack/weave-kube:2.8.1-202204146b4cadfc
          imagePullPolicy: IfNotPresent
          securityContext:
            privileged: true
          volumeMounts:
            - name: cni-bin
              mountPath: /host/opt/cni/bin
            - name: cni-bin2
              mountPath: /host/home
            - name: cni-conf
              mountPath: /host/etc/cni/net.d
            - name: lib-modules
              mountPath: /lib/modules
            - name: xtables-lock
              mountPath: /run/xtables.lock
      priorityClassName: system-node-critical
      restartPolicy: Always
      securityContext:
        seLinuxOptions: {}
      serviceAccountName: weave-net
      tolerations:
        - effect: NoSchedule
          operator: Exists
        - effect: NoExecute
          operator: Exists
      volumes:
        - name: weavedb
          hostPath:
            path: /var/lib/weave
        - name: cni-bin
          hostPath:
            path: {{ kube_weave_cni_plugin_dirs }}
        - name: cni-bin2
          hostPath:
            path: /home
        - name: cni-conf
          hostPath:
            path: {{ kube_weave_network_config_dir }}
        - name: dbus
          hostPath:
            path: /var/lib/dbus
        - name: lib-modules
          hostPath:
            path: /lib/modules
        - name: machine-id
          hostPath:
            path: /etc/machine-id
            type: FileOrCreate
        - name: xtables-lock
          hostPath:
            path: /run/xtables.lock
            type: FileOrCreate
  updateStrategy:
    type: RollingUpdate
